@tailwind base;

@tailwind components;

@tailwind utilities;

. .styled:hover{
    border: transparent!important;
    background-color: transparent !important;
}
.styled:active{
    border: transparent!important;
    background-color: transparent !important;
}

.object-center-view{
    float: right!important;
}